.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}

@media (min-width: 576px) {
    .d-sm-block {
        display: block !important;
    }
    .d-sm-none {
        display: none!important;
    }
    .d-sm-flex {
        display: flex !important;
    }
}
@media (max-width:1199px) {
    .max-lg-justify-center{
        justify-content: center;
    }
    .max-lg-mx-auto{
        margin: 0 auto;
    }
}
@media (max-width:576px) {
    .max-sm-items-center{
        align-items: center;
    }
    .max-sm-flex-col{
        flex-direction: column;
    }
    button {
        font-size: 14px !important;
    }
    button.btn-sm{
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    h6 {
        font-size: 12px;
    }
    h1{
        font-size: 38px;
        line-height: 42px;
    }
    p{
        font-size: 14px;
    }
}
